@page {
  size: A4 portrait;
}

#header-wrapper, #mobile-header, .footer {
  display: none !important;
}

.content-wrapper {
  padding: 0;
}

.info p {
  margin: 5px 0;
}

.content__default:not(.custom) > h1, .content__default:not(.custom) > h2, .content__default:not(.custom) > h3, .content__default:not(.custom) > h4, .content__default:not(.custom) > h5, .content__default:not(.custom) > h6 {
  padding-top: calc(70px + 1rem);
}

h2 {
  border-bottom: none;
}